<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.corespark.pccompiler">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name=".app.Compiler"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
                android:name=".activity.AuthActivity"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.WorkspaceActivity">
        </activity>
        <activity android:name=".activity.MenuActivity">
        </activity>
        <activity android:name=".activity.CompileActivity">
        </activity>

        <meta-data
                android:name="com.parse.SERVER_URL"
                android:value="@string/parse_server_url" />
        <meta-data
                android:name="com.parse.APPLICATION_ID"
                android:value="@string/parse_app_id" />
        <meta-data
                android:name="com.parse.CLIENT_KEY"
                android:value="@string/parse_client_key" />

    </application>

</manifest>